<link rel="stylesheet" href="/style.css">
<body>
    <h1>Please subscribe...</h1>
    <hr>
    <div class="categories">
    <% for (const cat of categories) { %>
      <div class="categories--card">
        <h2><%=cat.catName%> (<%=cat.subs.length%>)</h2>
        <hr>
        <img src="/images/<%=cat.catName%>.jpg">
		<form action="/subscribe/<%=cat.catName%>" method="GET">
          <button>Subscribe</button>
        </form>
      </div>
    <% } %>
    </div>
  </body>
