<link rel="stylesheet" href="/style.css">
<body>
  <h1>Subscribe to <%=category%>!</h1>
  <hr>
  <%if (err){%>
    <h1 class="error"><%=err%></h1>
  <% } %>
  <div class="subform">
    <form onsubmit="return checkEmail(event)" method="POST">
      <label for="nick">Nick:</label><br>
      <input type="text" id="nick" name="nick" placeholder="Enter your nickname" required><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" placeholder="Enter your email" required><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <script>
    function checkEmail (event) {
      let email = document.getElementById("email").value;
      let emailParts = email.split("@");
      let errMsg = "";
      if (emailParts.length != 2) {
        errMsg = "Email must have exactly one @ character!";
      } else {
        if (emailParts[1].indexOf(".") < 1) {
          errMsg = " Email must have at least one dot after the @ character.";
        }
      }
      if (errMsg) {
        event.preventDefault();
        alert(errMsg);
        return false;
      } else {
        return true;
      }
    }
  </script>
</body>